body {
	padding-top: 20px;
}

.app {
	max-width: 1000px;
	margin: auto;
}

.topbar {
	width: 100%;
	margin-bottom: 20px;
}

.description {
	font-size: 12px;
}

.chart {
	width: 100%;
	height: 300px;
}

.canvasjs-chart-credit {
	display: none;
}
